*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing:border-box;
}

/* NAVBAR */

.navbar{
    background:#0a3d62;
    color:white;
    display:flex;
    justify-content:space-between;
    padding:15px 40px;
    align-items:center;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:25px;
    align-items:center;
}

.navbar a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}

.login-btn{
    background:#ff9933;
    border:none;
    padding:8px 15px;
    border-radius:5px;
    cursor:pointer;
}

/* HERO */

.hero{
    height:90vh;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url("https://images.unsplash.com/photo-1529107386315-e1a2ed48a620");
    background-size:cover;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:45px;
    margin-bottom:20px;
}

.hero button{
    padding:12px 25px;
    font-size:18px;
    background:#138808;
    border:none;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

/* FEATURES */

.features{
    padding:60px;
    text-align:center;
}

.feature-box{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:30px;
}

.card{
    background:#f4f4f4;
    padding:30px;
    border-radius:10px;
    width:250px;
    box-shadow:0px 5px 15px rgba(0,0,0,0.2);
}

/* STEPS */

.steps{
    background:#e8f0fe;
    padding:60px;
    text-align:center;
}

.step-container{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}

.step{
    background:white;
    padding:20px;
    border-radius:8px;
    box-shadow:0 0 10px gray;
}

/* FOOTER */

footer{
    background:#0a3d62;
    color:white;
    text-align:center;
    padding:20px;
}